* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menucontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    background-image: url("../img/airbattle.jpg");
    background-size: cover;
}

.start-btn {
    height: 20%;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.start-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-between;
}
.info p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

.canvas {
    border: 1px solid #000000;
}