/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .sprite {
      display: block;
      margin-bottom: 8px; } }
  @media (min-width: 992px) {
    .sprite {
      margin-right: 5px; } }

.sprite-icon-mail {
  display: block;
  width: 32px;
  height: 32px;
  background-position: -5px -5px; }

.sprite-nav-about {
  width: 32px;
  height: 32px;
  background-position: -47px -5px; }

.sprite-nav-alist {
  width: 32px;
  height: 32px;
  background-position: -5px -47px; }

.sprite-nav-blog {
  width: 32px;
  height: 32px;
  background-position: -47px -47px; }

.sprite-nav-contribute {
  width: 32px;
  height: 32px;
  background-position: -89px -5px; }

.sprite-nav-tastemakers {
  width: 32px;
  height: 32px;
  background-position: -89px -47px; }

.social-sm {
  background-image: url("../img/social-sm.png");
  background-repeat: no-repeat;
  display: block; }

.social-sm-icon-facebook-16 {
  width: 16px;
  height: 16px;
  background-position: -5px -5px; }

.social-sm-icon-twitter-16 {
  width: 16px;
  height: 16px;
  background-position: -31px -5px; }

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 481px) {
    header {
      align-items: center;
      flex-direction: row; } }
  @media (min-width: 768px) {
    header {
      justify-content: space-between; } }
  @media (min-width: 992px) {
    header {
      min-width: 200px;
      flex-direction: column;
      justify-content: flex-start; } }

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 992px) {
    .menu ul {
      flex-direction: column; } }

.menu {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5; }
  @media (min-width: 481px) {
    .menu {
      flex: 1;
      border-bottom: none; } }
  @media (min-width: 768px) {
    .menu {
      flex: 0.8; } }
  @media (min-width: 992px) {
    .menu {
      flex: 0; } }
  .menu-item a {
    text-decoration: none;
    color: #34AC98;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px; }
    @media (min-width: 768px) {
      .menu-item a {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 992px) {
      .menu-item a {
        flex-direction: row;
        font-size: 16px; } }

.main-logo {
  width: 120px;
  margin: 0 auto;
  padding: 10px 0; }
  @media (min-width: 481px) {
    .main-logo {
      order: -1;
      margin: 0; } }

.social {
  display: none; }
  @media (min-width: 992px) {
    .social {
      display: flex;
      flex-direction: column;
      width: 140px; } }

.info-block {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  background: url("../img/0052_foodsense.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto; }
  @media (min-width: 481px) {
    .info-block {
      height: 300px; } }
  @media (min-width: 768px) {
    .info-block {
      height: 400px;
      align-items: flex-start;
      background-size: 100% auto; } }
  .info-block p {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    font-style: italic;
    font-size: 12px; }
  .info-block p:first-child {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    font-size: 16px; }

.featured nav {
  display: none; }
  @media (min-width: 768px) {
    .featured nav {
      display: flex;
      flex-direction: column; }
      .featured nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #eff8f7;
        height: 35px; } }

.featured-btn {
  text-decoration: none;
  color: #34AC98; }

.visible-fullhd {
  display: none; }
  @media (min-width: 1176px) {
    .visible-fullhd {
      display: block; } }

.newsletter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px; }
  @media (min-width: 768px) {
    .newsletter {
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center; } }
  .newsletter-info {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .newsletter-info span {
      flex: 0.9; }
    @media (min-width: 768px) {
      .newsletter-info {
        padding: 0;
        flex: 3;
        align-items: center;
        justify-content: space-around; } }
  .newsletter-icon {
    width: 32px;
    height: 32px;
    background: url("../img/icon-mailinglist-32.png"); }
  @media (min-width: 768px) {
    .newsletter form {
      flex: 2; } }

.email-btn {
  width: 30%; }

.email-field {
  width: 60%; }

.blog {
  display: flex;
  flex-direction: column; }
  .blog article {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .blog article img {
      padding: 5px;
      border: 1px solid #e5e5e5;
      align-self: center; }
    .blog article h3 {
      padding: 10px 0;
      color: #34AC98;
      font-size: 18px; }
  @media (min-width: 481px) {
    .blog {
      flex-direction: row;
      flex-wrap: wrap; }
      .blog article {
        width: 50%;
        padding: 5px; }
        .blog article img {
          max-height: 150px; } }
  @media (min-width: 768px) {
    .blog {
      flex-wrap: nowrap; }
      .blog article img {
        max-height: 100px; } }

.meta {
  padding-top: 10px; }
  .meta time {
    color: #AAA; }
  .meta a {
    text-decoration: none;
    color: #34AC98; }

* {
  box-sizing: border-box; }

body {
  height: 100vh; }

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex: 1; }
  @media (min-width: 992px) {
    .wrapper {
      flex-direction: row; } }
