*{
    box-sizing: border-box;
}
.wrapper{
    background-image: url(../img/top_bg.jpg), url(../img/footer_bg.jpg);
    background-position: top,bottom;
    background-repeat: repeat-x;
}
body{
    min-width: 1000px;
}
.top-block{
    color: #ffffff;
    height: 50px;
    text-align: right;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 900;
    padding-right: 18px;
}
.main-container{
    width: 1000px;
    margin: auto;
    margin-top: -1px;
}
.main-header{
    background-image: url(../img/header_bg.jpg);
    height: 525px;
    width: 1000px;
    margin: auto;
}
.navbar-header{
    height: 110px;
    padding: 19px 0 18px 17px;
}
.navbar-logo{
    float: left;
}
.navbar-menu{
    float: right;
    margin-right: 10px;
}
.navbar-item{
    display: inline-block;
    line-height: 81px;
    text-align: center;
}
.navbar-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 21px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-weight: bold;
    color: #000000;
}
.navbar-item-acitve, .navbar-item:hover{
    background-image: url(../img/home_hover.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-item:hover > a, .navbar-btn-active{
    color: #FFFFFF;
}
.header-content{
    width: 461px;
    float: right;
    margin-top:112px;
}
.head-l{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    padding-top: 5px;
}
.black{
    color: #000000;
}
.white{
    color: #FFFFFF;
}
.head-xl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: bold;
}
.text-xs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.7;
}
.header-content > .text-xs{
    margin-top: 4px;
    line-height: 1.7;
}
.hover-orange:hover{
    color:#d4903d;
    cursor: pointer;
}
.orange{
    color:#d4903d;
}
.header-button{
    height: 31px;
    width: 93px;
    border:none;
    font-size: 13px;
    margin-top: 19px;
    border-radius: 8px;
    background: linear-gradient(to top, #a6a7a1, #ffffff)
}
.slogan{
    background-image: url(../img/growth_bg.jpg);
    height: 130px;
    padding-top: 47px;
    padding-left: 30px;
}
.slogan-header{
    letter-spacing: 0.1px;
    color:#566373;
}
.head-m{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.hover-green:hover{
    color: #96a92c;
    cursor: pointer;
}
.slogan-text{
    font-size: 17px;
    margin-top: 2px;
    margin-left: 1px;
    letter-spacing: -0.4px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-s{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info-container{
    width: 650px;
    float: left;
    margin-left: 30px;
    margin-top:11px;
    
    margin-bottom: 9px;
    line-height: 1.4;
}
.welcome-container-header{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#8d8885;
}
.welcome-container-header strong{
    font-size: 30px;
    color: #000000;
}
.welcome-header-green{
    text-transform: uppercase;
    color: #96a92c;
    font-weight: bold;
    font-size: 13px;
    margin-top: 9px;
    letter-spacing: -0.4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome-header-content{
    margin-top: 14px;
    margin-bottom: 18px;
}
.link-more{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#d4903d;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.link-more::before{
    content: url(../img/green_dot.jpg);
    margin-right: 6px;
}
.article-img{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.article-header{
    margin-top: 34px;
    color:#000000;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 26px;
}
.article-section{
    margin-top:26px;
    padding-bottom: 2px;
}
.article-section-header{
    color:#d4903d;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 12px;
}
.article-link{
    margin-top: 18px;
}
.aside-section{
    width: 255px;
    float:right;
    margin-right: 30px;
    margin-top: 15px;
}
.login-form{
    width: 255px;
    background-color: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    background-image: url(../img/login_top.jpg);
    background-repeat: no-repeat;
}
.login-form-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:#96a92c;
    font-weight: bold;
    margin-top: 34px;
    padding-left: 20px;
}
.login-form-content{
    font-family: Arial, Helvetica, sans-serif;
    padding: 11px 32px 22px 34px;
}
.label-required{
    font-size: 11px;
    margin-left: 13px;
}
.label-required::after{
    content: '*';
    font-size: 16px;
    color: #d4903d;
    padding-left: 2px;
}
.login-form-input{
    font-size: 11px;
    margin-top: 6px;
    margin-bottom: 4px;
    padding: 5px 0px 5px 12px;
    width: 185px;
    height: 28px;
    border-radius: 20px;
}
.login-btn{
    border: 0;
    color: #ffffff;
    background: linear-gradient(to bottom, #fa941e, #d67504);
    border-radius: 20px;
    margin: 6px 0;
    padding: 5px 20px;
    cursor: pointer;
}
.form-link{
    margin: 9px 0;  
}
.link{
    font-size: 11px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.grey{
    color: #8d8885;
}
.orange-arrow.arrow-link::before{
    content: url(../img/orange_dot.jpg);
}
.arrow-link::before{
    position: relative;
    padding-right: 7px;
}
.news-container{
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    background-color: #f6f6f6;
    margin-top: 8px;
    border-top: 0;
    width: 255px;
}
.news-container-header{
    background-image: url(../img/event_top.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 255px;
    margin-left: -1px;
    color:#d4903d;
    height: 80px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 65px;
    }
.news-content{
    padding: 0px 19px 10px;
}
.news-item{
    background: url(../img/green_right.jpg) no-repeat left top;
    padding-left: 34px;
    padding-top: 12px;
    margin-bottom: 18px;
}
.news-item-header{
    color: #989560;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.news-text{
    padding-top: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin-bottom: 5px;
}
.footer-section{
    clear: both;
    padding: 62px 0 58px 0;
    line-height: 0;
}
.footer-bar{
    padding: 0 40px;
    display: inline-block;
    list-style: none;
}
.footer-bar > li{
    display: inline-block;
}
.footer-link{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #d4903d;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-bar > li:not(:last-child):after{
    content: '|';
    padding: 0 12px 0 12px;
    font-size: 12px;
    font-weight: bold;
    color: #d4903d;
}
.copyright-block{
    font-size: 12px;
    margin-right: 168px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}