USE [master]
GO
/****** Object:  Database [UsersDB]    Script Date: 21-Mar-17 05:56:56 PM ******/
CREATE DATABASE [UsersDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UsersDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UsersDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersDB]
GO
USE [UsersDB]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[ImageID] [int] NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAwards]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAwards](
	[UserID] [int] NOT NULL,
	[AwardID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[ImageID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([ID], [Title], [Description], [ImageID]) VALUES (1, N'Boom', N'BOMM', 8)
SET IDENTITY_INSERT [dbo].[Awards] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [DOB], [ImageID]) VALUES (8, N'TestADd', CAST(N'1999-01-01' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK_Awards_Images] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Images] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK_Awards_Images]
GO
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Awards] FOREIGN KEY([AwardID])
REFERENCES [dbo].[Awards] ([ID])
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Awards]
GO
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Images] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Images] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Images]
GO
/****** Object:  StoredProcedure [dbo].[AwardAdd]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AwardAdd] 
	@Title nvarchar(50),
	@Description nvarchar(250),
	@picID int
AS
BEGIN
INSERT INTO dbo.Awards(Title,Description, ImageID) 
values (@Title,@Description,@picID)
SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AwardDelete]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AwardDelete] 
@ID int
AS
BEGIN
	DELETE FROM dbo.Awards WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[AwardGetAll]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardGetAll] 

AS
BEGIN
	SET NOCOUNT ON;
SELECT ID, Title, Description
FROM dbo.Awards 
END


GO
/****** Object:  StoredProcedure [dbo].[AwardGetByID]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AwardGetByID] 
@ID int
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID,Title, Description 
	FROM dbo.Awards
	WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[AwardPictureAdd]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AwardPictureAdd] 
	@Data varbinary(MAX),
	@Type nvarchar(100)
AS
BEGIN
INSERT INTO dbo.Images(Data,Type) 
values (@Data,@Type)
SELECT SCOPE_IDENTITY()
END


GO
/****** Object:  StoredProcedure [dbo].[AwardPictureGetByID]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AwardPictureGetByID] 
@ID int
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Data,Type
	FROM dbo.Awards JOIN dbo.Images
	ON dbo.Awards.ImageID = dbo.Images.ID
	WHERE dbo.Awards.ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[AwardPictureUpdate]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardPictureUpdate]
@awardID int,
@Data varbinary(MAX),
@Type nvarchar(100)
AS
BEGIN
DECLARE @imageID int;
	SELECT @imageID=ImageID FROM dbo.Awards 
	WHERE dbo.Awards.ID = @awardID
	UPDATE dbo.Images
	set 
	Data = @Data,Type=@Type
	WHERE ID=@imageID 
END


GO
/****** Object:  StoredProcedure [dbo].[AwardUpdate]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardUpdate]
@ID int,
@Title nvarchar(50),
@Description nvarchar(250)
AS
BEGIN
	UPDATE dbo.Awards
	set 
	Title = @Title,Description=@Description
	WHERE ID=@ID 
END


GO
/****** Object:  StoredProcedure [dbo].[UserAdd]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserAdd] 
	@Name nvarchar(50),
	@DOB datetime,
	@picID int
AS
BEGIN
INSERT INTO dbo.Users (Name,DOB,ImageID) 
values (@Name,@DOB,@picID)
SELECT SCOPE_IDENTITY()
END


GO
/****** Object:  StoredProcedure [dbo].[UserDelete]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserDelete] 
@ID int
AS
BEGIN
	DELETE FROM dbo.Users WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[UserGetAll]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserGetAll] 

AS
BEGIN
	SET NOCOUNT ON;
SELECT ID, Name, DOB
FROM dbo.Users 
END


GO
/****** Object:  StoredProcedure [dbo].[UserGetByID]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserGetByID] 
@ID int
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID,Name, DOB 
	FROM dbo.Users
	WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[UserPictureAdd]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserPictureAdd] 
	@Data varbinary(MAX),
	@Type nvarchar(100)
AS
BEGIN
INSERT INTO dbo.Images(Data,Type) 
values (@Data,@Type)
SELECT SCOPE_IDENTITY()
END


GO
/****** Object:  StoredProcedure [dbo].[UserPictureGetByID]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserPictureGetByID] 
@ID int
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Data,Type
	FROM dbo.Users JOIN dbo.Images
	ON dbo.Users.ImageID = dbo.Images.ID
	WHERE dbo.Users.ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[UserPictureUpdate]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserPictureUpdate]
@userID int,
@Data varbinary(MAX),
@Type nvarchar(100)
AS
BEGIN
DECLARE @imageID int;
	SELECT @imageID=ImageID FROM dbo.Users 
	WHERE dbo.Users.ID = @userID
	UPDATE dbo.Images
	set 
	Data = @Data,Type=@Type
	WHERE ID=@imageID 
END


GO
/****** Object:  StoredProcedure [dbo].[UserUpdate]    Script Date: 21-Mar-17 05:56:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserUpdate]
@ID int,
@Title nvarchar(50),
@Description nvarchar(250)
AS
BEGIN
	UPDATE dbo.Awards
	set 
	Title = @Title,Description=@Description
	WHERE ID=@ID 
END


GO
USE [master]
GO
