@import "font-awesome.scss";
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 body, html{
     min-height: 100%;
 }
 main{
     min-height: 100%;
     padding: 10px;
     width: 100%;
     background-color: #f2f2f2;
 }
 .heading{
     padding: 10px 0;
 }
 .heading-md{
     font-size: 26px;
 }
 .heading-sm{
     font-size: 18px;
 }
 .heading-lg{
     font-size: 36px;
 }
 .primary-text{
     color: #000000;
 }
 .block{
     padding: 4px 0;
 }
 .secondary-text{
     color:#777;
 }
 .strong{
     font-weight: bold;
 }
 .underline{
    text-decoration: underline;
 }
 .inline-block{
     display: inline-block;
 }
 .uppercase{
     text-transform: uppercase;
 }
 .right{
     float: right;
 }
 .left{
     float: left;
 }
 .header{
      height: 45px;
      padding: 5px 5px;
  }
  .info-text {
    color: #c9022f;
}
.menu-button{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background-color: #ffffff;
}
    .main-logo{
    display: block;
      width: 120px;
      margin: auto;
    }
    .menu-container{
        width: 240px;
        min-height: 100%;
        position: absolute;
        z-index: 2;
        left:-240px;
        transition: all 1s;
        background-color: #333333;
    }
    .menu-checkbox{
       position: absolute;
       left: -9999px;
    }
    .menu-checkbox:checked ~ .menu-container{
        left: 0px;
        z-index: 100;
    }
    .menu-checkbox:checked::after{
        position: fixed;
        content: "";
        left: 0;
        top:0;
        right: 0;
        bottom: 0;
    }
    .menu-item{
        border-bottom: 1px solid #000000;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0 20px 15px;
    }
    .menu-item > a {
        color:#8b8b8b;
        text-decoration: none;
    }
    .menu-item > a:hover{
        cursor: pointer;
        color: #ffffff;
    }
    .username-block{
        display: block;
        padding-left: 15px;
    }
    .content-container{
        width: 100%;
        padding: 20px 0;
    }
    .tab{
        display: inline-block;
        border: 1px solid #d7d7d7;
        background-color: #d7d7d7;
        width: 50%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .checkbox-collapse{
        display: none;
    }
    .container-collapse{
        max-height: 0;
        transition: all 1s;
        overflow: hidden;
    }
   .lable-collapse{
       cursor:pointer;
       font-size: 24px;
   }
   .lable-collapse::after{
       content: '\f055';
       font-family: "FontAwesome";
       color: #777;
   }
   .checkbox-collapse:checked ~ h2 .lable-collapse::after{
    content: '\f056';
    font-family: "FontAwesome";
   }
    .checkbox-collapse:checked ~ .container-collapse{
        max-height: 500px;
        display: block;
    }
.details-list{
    width: 100%;
}
/*.details-list:not(:last-child){
    padding-right: 15px; В БОЛЬШОМ РАЗРЕШЕНИИ!
}*/
.details-list li{
    border-top: 1px solid #d7d7d7;
    padding: 10px 0;
}
.details-list li span{
    display: inline-block;
    width: 50%;
}
.details-list li span:first-child{
    font-weight: bold;
}
.details-list li span:last-child{
    text-align: right;
    color: #777;
}
    .hidden{
        display: none;
    }
    .tab-content2{
        display: none;
    }
    #tab1:checked + .tab{
        border: 1px solid #d7d7d7;
        background-color: #f2f2f2;
        border-bottom: 0;
    }
    #tab2:checked + .tab{
        border: 1px solid #d7d7d7;
        background-color: #f2f2f2;
        border-bottom: 0;
    }
    #tab2:checked ~ .tab-content1{
        display: none;
    }
    #tab2:checked ~ .tab-content2{
        display: block;
    }
    .tab-content1{
        border: 1px solid #d7d7d7;
        border-top: none;
         padding: 15px 5px 10px;
    }
    .operation-container{
        height: 50px;
        padding: 5px;
        display: inline-block;
        width: 33.3%;
    }
    .operation-container-select{
        width: 100%;
    }
    .operation-btn{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        cursor: pointer;
        background: linear-gradient(#ededed, #f1f1f1 37%, #e1e1e1 57%, #e4e4e4);
    }
    .operation-btn-mown{
        position: relative;
        padding-left: 17px;
    }
    .operation-img::before{
        content: '';
        display: inline-block;
        height: 11px;
        width: 11px;
        z-index: 100;
        background-image: url("../101.png");
        background-size: 11px 11px;
        background-repeat: no-repeat;
    }
    .operation-btn-mown::before{
        position: absolute;
    top: 14px;
    left: 9px;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #ccc;
    width: 18px ; 
    height: 21px;
    transform: rotate(30deg) skewY(30deg); 
    background: 
            linear-gradient(-49.1deg, #e4e4e4, #e1e1e1 43%, #f1f1f1 63%, #ededed);
    content: ''
    }

    .operation-select{
        width: 100%;
        height: 100%;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }
    .badge{
        text-transform: uppercase;
        border-radius: 6px;
        border: 1px solid;
        padding: 4px 12px;
        font-size: 12px;
        font-weight: bold;
        margin-top: -3px;
    }
    .badge-info{
        color: #ffffff;
        border-color: #c9022f;
        background-color: #c9022f; 
    }
    .block-time{
        margin-right: 10px;
    }
    .expert-block{
        margin-bottom: 20px;
        border: 1px solid #d7d7d7;
        box-shadow: 3px 4px 6px #d7d7d7;
    }
    .expert-block-header{
        padding: 15px;
        background-color: #ffffff;
    }
    .additional-block{
        border-top: 1px solid #d7d7d7;
        padding: 15px;
        background-color: #ffffff;
    }
    .additional-block ul{
        padding-left: 25px;
    }
    .expert-block-btn{
        border-top: 1px solid #d7d7d7;
        background-color: #f2f2f2;
    }
    .expert-block-btn:hover{
        background-color: #d7d7d7;
    }
    .expert-block-btn a{
        width: 100%;
        color: #000000;
        font-weight: bold;
        display: inline-block;
        padding: 15px;
        text-decoration: none;
    }
 

