@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";
@import "base/_reset.scss";
@import "base/_sprites.scss";
@import "layout/_header.scss";
@import "layout/_content.scss";
@import "layout/newsletter.scss";
@import "layout/_blog.scss";
@import "layout/_footer.scss";
@import "components/_social.scss";
@import "components/_featured.scss";
*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 270px;
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex:1;
    @include hd(){
        flex-direction: row;
    }
}


