@model Epam.UsersAwards.Entities.Award
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>
<div>
    @Html.Partial("_AwardPartial", Model)
</div>


