$sm-width-screen: 768px;
$md-width-screen: 1000px;
$header-height-xs: 45px;

$color-bg-main: #f2f2f2;
$color-primary: #d7d7d7;
$color-primary-deep: #7d7d7d;
$color-default: #ffffff;
$color-info:#c9022f;